<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ashrm</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <mapping class="Model.Kpi"/>
    <mapping class="Model.Compstructtree"/>
    <mapping class="Model.EmpDependentsId"/>
    <mapping class="Model.CustomImport"/>
    <mapping class="Model.HspSummary"/>
    <mapping class="Model.EmpBasicsalary"/>
    <mapping class="Model.Empstat"/>
    <mapping class="Model.EmpLicenses"/>
    <mapping class="Model.EmpHistoryOfEalierPosId"/>
    <mapping class="Model.EmpDirectdebitId"/>
    <mapping class="Model.JobApplicationEvents"/>
    <mapping class="Model.Language"/>
    <mapping class="Model.MembershipType"/>
    <mapping class="Model.Country"/>
    <mapping class="Model.EmpMemberDetail"/>
    <mapping class="Model.EthnicRace"/>
    <mapping class="Model.EmpLanguage"/>
    <mapping class="Model.Attendance"/>
    <mapping class="Model.Eec"/>
    <mapping class="Model.EmpAttachment"/>
    <mapping class="Model.UserGroup"/>
    <mapping class="Model.HsPrSalaryCurrencyDetailId"/>
    <mapping class="Model.EmpUsTax"/>
    <mapping class="Model.EmployeeLeaveQuotaId"/>
    <mapping class="Model.EmpPicture"/>
    <mapping class="Model.Developer"/>
    <mapping class="Model.EmpAttachmentId"/>
    <mapping class="Model.EmpEducation"/>
    <mapping class="Model.DbVersion"/>
    <mapping class="Model.Education"/>
    <mapping class="Model.Project"/>
    <mapping class="Model.CompProperty"/>
    <mapping class="Model.EmpContractExtend"/>
    <mapping class="Model.Workshift"/>
    <mapping class="Model.CustomFields"/>
    <mapping class="Model.EmpEducationId"/>
    <mapping class="Model.HsPrSalaryCurrencyDetail"/>
    <mapping class="Model.UniqueId"/>
    <mapping class="Model.PerformanceReviewComments"/>
    <mapping class="Model.Customer"/>
    <mapping class="Model.District"/>
    <mapping class="Model.LeaveId"/>
    <mapping class="Model.EmpDirectdebit"/>
    <mapping class="Model.EmpBasicsalaryId"/>
    <mapping class="Model.Salarygrade"/>
    <mapping class="Model.Employee"/>
    <mapping class="Model.FileVersion"/>
    <mapping class="Model.EmpPassport"/>
    <mapping class="Model.EmpReporttoId"/>
    <mapping class="Model.TimeEvent"/>
    <mapping class="Model.TimeEventId"/>
    <mapping class="Model.EmpSubdivisionHistory"/>
    <mapping class="Model.LeaveRequests"/>
    <mapping class="Model.Skill"/>
    <mapping class="Model.TimesheetSubmissionPeriod"/>
    <mapping class="Model.Leavetype"/>
    <mapping class="Model.JobVacancy"/>
    <mapping class="Model.EmpWorkExperience"/>
    <mapping class="Model.Licenses"/>
    <mapping class="Model.EmpChildrenId"/>
    <mapping class="Model.LeaveRequestsId"/>
    <mapping class="Model.EmpReportto"/>
    <mapping class="Model.EmpLanguageId"/>
    <mapping class="Model.HspPaymentRequest"/>
    <mapping class="Model.Module"/>
    <mapping class="Model.Membership"/>
    <mapping class="Model.EmpContractExtendId"/>
    <mapping class="Model.CurrencyType"/>
    <mapping class="Model.JobTitle"/>
    <mapping class="Model.EmpJobtitleHistory"/>
    <mapping class="Model.Nationality"/>
    <mapping class="Model.Leave"/>
    <mapping class="Model.Hsp"/>
    <mapping class="Model.JobApplication"/>
    <mapping class="Model.EmpPassportId"/>
    <mapping class="Model.Geninfo"/>
    <mapping class="Model.EmpHistoryOfEalierPos"/>
    <mapping class="Model.EmpDependents"/>
    <mapping class="Model.Payperiod"/>
    <mapping class="Model.Empreport"/>
    <mapping class="Model.RightsId"/>
    <mapping class="Model.Users"/>
    <mapping class="Model.Versions"/>
    <mapping class="Model.EmployeeLeaveQuota"/>
    <mapping class="Model.TimesheetId"/>
    <mapping class="Model.CustomExport"/>
    <mapping class="Model.EmpEmergencyContacts"/>
    <mapping class="Model.PerformanceReview"/>
    <mapping class="Model.ProjectActivity"/>
    <mapping class="Model.EmpLicensesId"/>
    <mapping class="Model.Location"/>
    <mapping class="Model.Timesheet"/>
    <mapping class="Model.Rights"/>
    <mapping class="Model.EmpLocationHistory"/>
    <mapping class="Model.JobSpec"/>
    <mapping class="Model.EmpEmergencyContactsId"/>
    <mapping class="Model.Province"/>
    <mapping class="Model.EmpWorkExperienceId"/>
    <mapping class="Model.ProjectId"/>
    <mapping class="Model.EmpMemberDetailId"/>
    <mapping class="Model.EmpChildren"/>
  </session-factory>
</hibernate-configuration>
